<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Customapi\ReorderApi\Api\ReorderRepositoryInterface" type="Customapi\ReorderApi\Model\ReorderRepository" />
    <preference for="Customapi\ReorderApi\Api\Data\ApiResponseDataInterface" type="Customapi\ReorderApi\Model\ApiResponseMessage" />
</config>
