<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Shop_Town::parent" title="Customerdetails" module="Shop_Town" sortOrder="100" resource="Shop_Town::parent"/>
		<add id="Shop_Town::Customerdetails" title="Customerdetails " module="Shop_Town" sortOrder="20" parent="Shop_Town::parent" action="town/Customerdetails" resource="Shop_Town::Customerdetails"/>
		 <add id="Shop_Town::shoptown_configuration"
             title="Configuration"
             resource="Magento_Backend::content"
             module="Shop_Town"
             sortOrder="1"
             action="adminhtml/system_config/edit/section/Shop_Town"
             parent="Shop_Town::parent" />
    </menu>
</config>